$color-pink: #ffc0cb;
$color-lightblue: #add8e6;
$color-yellow: #ffffe0;
$color-lightgreen: #90ee90;

@font-face {
  font-family: "istokWeb";
  src: url("../../public/fonts/IstokWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "homemadeApple";
  src: url("../../public/fonts/HomemadeApple-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
