// Website colors
$white: #ffffff;
$dark-green: #1b5536;
$light-blue: #effff9;
$yellow: #fae843;
$orange: #ff4d00;

// Website fonts
$istokWeb-font: "istokWeb";
$homemadeApple-font: "homemadeApple";

@font-face {
  font-family: "istokWeb";
  src: url("../../public/fonts/IstokWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "istokWebBold";
  src: url("../../public/fonts/IstokWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "homemadeApple";
  src: url("../../public/fonts/HomemadeApple-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: $dark-green;
  font-family: $istokWeb-font;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.p-istok {
  font-family: $istokWeb-font;
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.p-cursive {
  color: $dark-green;
  font-family: $homemadeApple-font;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
