@import "../styles/variables";

.aboutCodeSamplesContainer {
  margin: 0 7rem 3rem 7rem;
  text-align: center;
}

.cardsContainer {
  margin: 0 7rem 5rem 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.syntaxHighlighterScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
