@import "../styles/variables";

.aboutCodeSamplesContainer {
  margin: 0 7rem 3rem 7rem;
  text-align: center;
}

.cardsContainer {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
  justify-items: center;
}

.syntaxHighlighterScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

// Media Query for Mobile
@media (max-width: $breakpoint-mobile) {
  .code-samples-page {
    width: 100vh;
    .cardsContainer {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
