@import "../styles/variables";

// First section - Intro
.intro-section {
  background-color: $light-blue;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paint-background {
  position: absolute;
  z-index: 0;
  width: 30rem;
  height: 35rem;
}

.profile-photo {
  position: absolute;
  z-index: 1;
  width: 25rem;
  height: 32rem;
  margin: 0 0 0 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

// Second section - My help
.my-help {
  background-color: $yellow;
  height: 20rem;
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.help-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 0 5rem;
  gap: 1rem;
}

.techno-card {
  height: 4rem;
  width: 4rem;
  background-color: white;
}

.texhno-card-image {
  height: 2rem;
  width: 2rem;
}

// THIRD SECTION
.background {
  background-color: $white;
  height: 20rem;
}
